body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
.main{
    background-color: antiquewhite;
    border-radius: 5px;
    height: 80vh;
    width: 30vw;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    margin-top: 40px;
}
.main > button{
    background-color: blueviolet;
    width: 30vw;
    height: 5vh;
    margin: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}
